.vertical-align-middle {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nav-logo {
	max-width: 137px !important;
}

.no-click-pointer {
	cursor: default !important;
}

.no-click-event {
	cursor: default !important;
	pointer-events: none !important;
}

hr .dotted {
	border: 1px dotted #d5d5d5;
}

.a-darkgrey {
	color: #8aa88a !important;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.a-darkgrey:hover {
	color: #777777 !important;
}

.a-darkgrey:active {
	color: #666666 !important;
}

.header_area .navbar .nav.navbar-nav.navbar-right .notification {
	background: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
}

.filter-bar {
	padding: 0;
}

.listing-result-count {
	line-height: 60px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.listing-title {
	margin-bottom: 0 !important;
}

.listing-seller {
	margin-top: -0.5em !important;
	font-size: 13px !important;
	padding-right: 15px !important;

}

.listing-seller > h6 {
	margin: 0 !important;
	display: inline-block !important;
	font-size: 13px !important;
	text-transform: none !important;
	color: #ffba00;
}


/**
* Image size restrictions.
*/
.img-equalise {
	position: relative;
	overflow: hidden;
}

.img-equalise:after {
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 0;
	padding-top: 100%;
}

.img-equalise > img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	min-height: 300px;
}

.img-related-item {
	object-fit: scale-down !important;
	height: 90px !important;
	width: 90px !important;
}

.img-listing-user-dp {
	object-fit: scale-down !important;
	height: 70px !important;
	width: 70px !important;
	border-radius: 50% !important;
}

.img-msg-item {
	object-fit: scale-down !important;
	height: 50px !important;
	width: 50px !important;
	vertical-align: middle;
}

/**
* Custom Button Styles, partly based on original theme.
*/
.add-bag .add-btn span {
	transform: none !important;
}

.generic-btn .success {
	background: #9bca3e;
}

.success-btn, .info-btn, .warning-btn, .danger-btn {
	position: relative;
	overflow: hidden;
	color: #fff;
	padding: 0 30px;
	line-height: 50px;
	border-radius: 50px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.success-btn:before, .info-btn:before,
.warning-btn:before, .danger-btn:before {
	position: absolute;
	left: -145px;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	background: #000;
	opacity: 0;
	-webkit-transform: skew(40deg);
	-moz-transform: skew(40deg);
	-ms-transform: skew(40deg);
	-o-transform: skew(40deg);
	transform: skew(40deg);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.success-btn:hover, .info-btn:hover,
.warning-btn:hover, .danger-btn:hover {
	color: #fff;
}

.success-btn:hover:before, .info-btn:hover:before,
.warning-btn:hover:before, .danger-btn:hover:before {
	left: 180px;
	opacity: .3;
}

.s_product_text .card_area .success-btn,
.s_product_text .card_area .info-btn,
.s_product_text .card_area .warning-btn,
.s_product_text .card_area .danger-btn {
	line-height: 38px;
	padding: 0 38px;
	text-transform: uppercase;
	margin-right: 10px;
	border-radius: 5px;
}

.success-btn {
	/* success-btn: Gradient */
	background: -webkit-linear-gradient(90deg, #85cba8 0%, #9bca3e 100%);
	background: -moz-linear-gradient(90deg, #85cba8 0%, #9bca3e 100%);
	background: -o-linear-gradient(90deg, #85cba8 0%, #9bca3e 100%);
	background: linear-gradient(90deg, #85cba8 0%, #9bca3e 100%);
}

.info-btn {
	/* info-btn: Gradient */
	background: -webkit-linear-gradient(90deg, #4cd3e3 0%, #38a4ff 100%);
	background: -moz-linear-gradient(90deg, #4cd3e3 0%, #38a4ff 100%);
	background: -o-linear-gradient(90deg, #4cd3e3 0%, #38a4ff 100%);
	background: linear-gradient(90deg, #4cd3e3 0%, #38a4ff 100%);
}

.warning-btn {
	/* warning-btn: Gradient */
	background: -webkit-linear-gradient(90deg, #ffdb6f 0%, #f4e700 100%);
	background: -moz-linear-gradient(90deg, #ffdb6f 0%, #f4e700 100%);
	background: -o-linear-gradient(90deg, #ffdb6f 0%, #f4e700 100%);
	background: linear-gradient(90deg, #ffdb6f 0%, #f4e700 100%);
}

.danger-btn {
	/* danger-btn: Gradient */
	background: -webkit-linear-gradient(90deg, #f44a40 0%, #bd2527 100%);
	background: -moz-linear-gradient(90deg, #f44a40 0%, #bd2527 100%);
	background: -o-linear-gradient(90deg, #f44a40 0%, #bd2527 100%);
	background: linear-gradient(90deg, #f44a40 0%, #bd2527 100%);
}

.s_Product_carousel .owl-dots div {
	box-shadow: 3px 2px 6px 2px !important;
}

.dropzone {
	border: 2px dashed #ebedf2;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
	cursor: pointer;
}

.sell_btn {
	margin-left: 20px;
}

/**
* Chat styling.
*/

.message-box {
	height: 45em !important;
}

.message-box > .message-details {
	height: 10%;
}

.message-box > .message-list {
	position: relative;
	height: 73%;
	margin-left: 0;
	margin-right: 0;
	overflow-y: scroll !important;
	border-bottom: 1px dotted rgba(40, 40, 40, 0.4);
	background-color: rgba(240, 240, 240, 0.7);
}

.message-box .message-scroller {
	display: none;
	position: absolute;
	z-index: 10;
	top: -2em;
	right: 25px;
	padding: 0.15em;
	font-size: 3em !important;
	background-color: rgba(50, 50, 50, 0.6);
	color: rgba(200, 200, 200, 0.6);
	border-radius: 10%;
	-webkit-transition: background 0.5s ease 0s, color 0.5s, border-radius 0.3s ease 0s;
	-moz-transition: background 0.5s ease 0s, color 0.5s, border-radius 0.3s ease 0s;
	-o-transition: background 0.5s ease 0s, color 0.5s, border-radius 0.3s ease 0s;
	transition: background 0.5s ease 0s, color 0.5s, border-radius 0.3s ease 0s;
}

.message-box .message-scroller:hover,
.message-box .message-scroller:active {
	background: -webkit-linear-gradient(90deg, rgba(76, 211, 227, 0.9) 0%, rgba(56, 164, 255, 0.9) 100%);
	background: -moz-linear-gradient(90deg, rgba(76, 211, 227, 0.9) 0%, rgba(56, 164, 255, 0.9) 100%);
	background: -o-linear-gradient(90deg, rgba(76, 211, 227, 0.9) 0%, rgba(56, 164, 255, 0.9) 100%);
	background: linear-gradient(90deg, rgba(76, 211, 227, 0.9) 0%, rgba(56, 164, 255, 0.9) 100%);
	color: rgba(250, 250, 250, 1);
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: background 0.5s ease 0s, color 0.5s, border-radius 0.3s ease 0s;
	-moz-transition: background 0.5s ease 0s, color 0.5s, border-radius 0.3s ease 0s;
	-o-transition: background 0.5s ease 0s, color 0.5s, border-radius 0.3s ease 0s;
	transition: background 0.5s ease 0s, color 0.5s, border-radius 0.3s ease 0s;
}

.message-box > .message-list .message-content {
	height: 100%;
}

.message-box > .message-input {
	margin-left: 0;
	margin-right: 0;
	padding-top: 1.5em;
}

.message-box > .message-input .single-input {
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {
	.message-box > .message-list {
		height: 63%;
	}

	.message-box > .message-input {
		margin-left: -15px;
		margin-right: -15px;
	}

	.top-margin {
		margin-top: 20px;
	}
}

.message-box > .message-list .ftmsg {
	background-color: #fff;
	color: #777777;
	border-radius: 10px;
	word-wrap: break-word;
	margin-top: 10px;
}

.message-box > .message-list .ftmsg.ftmsg-sender {
	background-color: #9bca3e !important;
	color: #fff !important;
}

.message-box > .message-list .ftmsg.ftmsg-receiver {
	background-color: #fff;
}

.message-box > .message-list .msg-datetime {
	text-align: right !important;
	font-size: 0.7em;
	margin-bottom: -1.3em;
}

.message-box > .message-list .ftmsg.ftmsg-sender .msg-datetime {
	color: #fff !important;
}

.message-box > .message-list .ftmsg.ftmsg-receiver .msg-datetime {
	color: #888888 !important;
}

.message-box > .message-list .msg-read {
	padding-left: 1em;
	color: #38a4ff;
	font-size: 1em !important;
	cursor: help;
}
