.nav-logo {
	max-width: 137px !important;
}

.no-click-pointer {
	cursor: default !important;
}

.no-click-event {
	cursor: default !important;
	pointer-events: none !important;
}

hr .dotted {
	border: 1px dotted #d5d5d5;
}

.add-bag .add-btn span {
	transform: none !important;
}

.header_area .navbar .nav.navbar-nav.navbar-right .notification {
	background: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
}

.filter-bar {
	padding: 0;
}

.listing-result-count {
	line-height: 60px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}